<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-10 col-xs-9">
        <h1 id="logo">Beachstrap</h1>
      </div><!-- end 2 -->
      <div class="col-sm-2 col-xs-3 visible-sm text-right visible-xs">
        <a href="#" title="nav" class="mini-nav"><i class="fa fa-reorder"></i></a>
      </div>

      <div class="col-lg-6 col-lg-offset-3 col-md-7 col-md-offset-2 col-sm-12 col-xs-12">
        <nav id="navigation">
          <ul class="nav">
            <li class="active"><a href="#main" title="Home">Home</a></li>
            <li><a href="#work" title="Work">Work</a></li>
            <li><a href="#our-team" title="Our Team">Our Team</a></li>
            <li><a href="#contact" title="Contact">Contact</a></li>
            <li><a href="#blog" title="Blog">Blog</a></li>
          </ul>
        </nav>
      </div><!-- end 12 -->
    </div><!-- end row -->
  </div><!-- end container -->
</header>